* {
   padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    min-width: 100%;
    background-color: rgb(59, 58, 58);
    color: white;
    margin: 0;
}
.navbar-brand {
   font-size: 40px;
   font-weight: bold;
}

#standby-msg {
    text-align: center;
    color: rgb(52, 71, 107);
}

.forecast-box {
    background-color: rgb(133, 133, 226);
}
